# Copier ce fichier en .env et remplir les valeurs

SECRET_KEY=changez-cette-cle-secrete-django
DEBUG=True
ALLOWED_HOSTS=localhost,127.0.0.1

DB_NAME=sewivoire_db
DB_USER=root
DB_PASSWORD=
DB_HOST=localhost
DB_PORT=3306
